/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.6rem;
  font-weight: 800;
  color: #f7b731;
  letter-spacing: 1px;
}

/* Menu Links */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links a:hover {
  color: #f7b731;
}

/* Login Button */
.logout-btn {
  padding: 8px 20px;
  background-color: #0e47cd;
  color: #fffefe;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e6a51f;
}

/* Hamburger */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Responsive Menu */
.close-btn {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    background-color: #222;
    text-align: center;
    gap: 25px;
    padding-top: 60px;
    transform: translateX(100%);
  }

  .nav-links.active {
    display: flex;
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

/* Scroll Bar */
.scroll-bar {
  color: #000;
  padding: 10px 0;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}

main h1{
  text-align: center;
  color: #000;
  margin: 15px 0px;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* responsive grid */
  gap: 20px;
  padding: 20px;
}

.event-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* push buttons to bottom */
  background: #fff;
  transition: transform 0.2s;
}
.event-card h3{
    text-align: center;
    font-size: 1.4rem;
    margin: 5px 0px;
    color: purple;
}
.event-card p{
  margin: 4px 0px;
}
.event-card:hover {
  transform: translateY(-4px);
}

.event-card button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  
}
.buttons{
  display: flex;
  gap:20px;
  margin-top: 10px;
}

.event-card button.cancel-btn {
  background: #dc3545;
}
